.fa-globe{
    font-size: 96px; 
    height: 96px;
    width: 96px; 

}

.navbar-brand{
	@media (max-width:576px){
		padding-left: 10px; 
     
    }
}

#navbarNav{
	@media (max-width:576px){
		ul li a{
			padding-left: 10px; 
		} 
     
    }
}